* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(35, 35, 46);
}

header {
    background-color: rgb(35, 35, 46);
    display: flex;
    align-items: center;
}

header button {
    color: rgb(35, 35, 46);
    margin-left: 25px;
    padding: 10px;
    height: 50px;
    width: auto;
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

header button:hover {
    background-color: rgb(206, 206, 206);
}

header button:active {
    background-color: rgb(173, 173, 173);
}

header h1 {
    font-size: 70px;
    padding: 10px;
}

header h1 a {
    margin-left: 25px;
    text-decoration: none;
    color: rgb(226, 226, 226);
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 70%;
}

table tr {
    background-color: rgb(213, 232, 255);
}

table tr:nth-child(odd) {
    background-color: rgb(131, 189, 255);
}

table tr:hover {
    cursor: default;
}

table tr th,
table tr td {
    border: 1px solid black;
    text-align: center;
}

table tr th {
    background-color: rgb(60, 133, 218);
}

table tr td:hover {
    box-shadow: inset 0px 0px 0px 0.5px;
    background-color: rgb(83, 137, 199);
    cursor: pointer;
}

table tr td:active {
    background-color: rgb(62, 101, 146);
}

table tr td:focus {
    color: red;
}

#tableSize {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 200px;
    background-color: rgb(35, 35, 46);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tableSize * {
    margin: 10px;
}

#tableSize label {
    color: rgb(226, 226, 226);
}

#tableSize input {
    color: rgb(35, 35, 46);
    background-color: rgb(226, 226, 226);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 270px;
    padding: 5px;
    text-transform: uppercase;
}

#tableSize button {
    height: 50px;
    width: 275px;
    color: rgb(35, 35, 46);
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

#tableSize button:hover {
    background-color: rgb(206, 206, 206);
}

#tableSize button:active {
    background-color: rgb(173, 173, 173);
}

#words {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 70%;
    background-color: rgb(35, 35, 46);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#words * {
    margin: 10px;
}

#words button {
    position: absolute;
    height: 10%;
    width: 50%;
    color: rgb(35, 35, 46);
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    bottom: 25px;
}

#words button:hover {
    background-color: rgb(206, 206, 206);
}

#words button:active {
    background-color: rgb(173, 173, 173);
}

#words h2 {
    display: flex;
    position: absolute;
    top: 25px;
    color: rgb(226, 226, 226);
}

#words ul {
    position: absolute;
    top: 12.5%;
    color: rgb(226, 226, 226);
    list-style-type: none;
    font-weight: bold;
    height: 65%;
    width: 80%;
    overflow: auto;
}

footer {
    display: flex;
    background-color: rgb(35, 35, 46);
    height: auto;
    margin-top: 15px;
}

footer #github {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: max-content;
    margin-left: 30px;
    margin-right: 15px;
}

footer #contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100%;
    width: max-content;
    margin-left: 30px;
    margin-right: 15px;
}

footer p,
footer a {
    color: rgb(226, 226, 226);
}

::-webkit-scrollbar {
    border-radius: 5px;
    background: rgb(226, 226, 226);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(22, 22, 29);
    width: 90%;
}

@media (max-width: 1000px) {

    #wordsContainer {
        pointer-events: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #words {
        pointer-events: all;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        margin: 0px;
        z-index: 1;
        width: 90%;
        height: 80%;
    }

    #words ul {
        position: absolute;
        top: 75px;
        height: 57.5%;
        width: 80%;
    }

    footer #contact {
        margin-left: 0px;
    }

    header {
        margin-left: 0px;
        place-content: center;
    }

    header h1 {
        padding: 0px;
    }
    
    header h1 a {
        margin-left: 0px;
    }

}